body {
    background: url('../image/image-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.well{
    text-align: center;
}

#listaJugadores,#listaClubDeportivo{
    display: none;
}

/*Se define las distancia del calendario con el escudo y la tabla de posiciones,
y se define que en caso de que la informacion dentro del panel supere el tamaño del panel se cree la posibilidad de scroll*/
.panel-success{
    margin-top: 50px;
    overflow-y: scroll;
}