body {
    background: url('../image/image-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

img{
    float: left;
    height: 350px;
    width: 350px;
}

#tablaDatos,#tablaDirigente{
    float: left;
}

.well{
    text-align: center;
}

#listaJugadores{
    display: none;
}

/*Se define las distancia del calendario con el escudo y la tabla de posiciones,
y se define que en caso de que la informacion dentro del panel supere el tamaño del panel se cree la posibilidad de scroll*/
.panel-success{
    margin-top: 50px;
    overflow-y: scroll;
}

/*#listaJugadores,#tablaPequeña{*/
    /*display: none;*/
/*}*/

/*@media (max-width: 500px)*/
/*{*/
    /*img,#tablaGrande{*/
        /*display: none;*/
    /*}*/

    /*#tablaPequeña{*/
        /*display: inherit;*/
        /*font-size: xx-small;*/
    /*}*/

/*}*/